#addfreespace_wrap table{
    border-collapse: collapse;
    font-size: 12px !important;
    border:1px #AAAAAA solid !important;
    margin-bottom: 6px;
}
#addfreespace_wrap td{
    vertical-align: top;
    border:1px #AAAAAA solid;
    padding:4px;
}
#addfreespace_footer{
    margin:20px;
    padding:20px;
    border:#d0d0d0 dotted 5px;
}
#addfreespace_createdby{
    width:100%;
    text-align:center;
    padding-top:12px;
}